<form id="login" title="Beacon Login Form" method="post" onsubmit="login($('email').value,$('pass').value);" action="">
    <table id="loginform">
        <tr id="username">
            <td><label>E-Mail </label></td>
            <td><input type="text" id="email" name="email" onfocus="highlightRow('username'); changeColor('email','black'); clearInput('email');" onblur="unhighlightRow('username')" onclick="clearInput('email')"/></td>
        </tr>
        <tr id="password">
            <td><label>Password </label></td>

            <td><input type="password" id="pass" name="pass" onfocus="highlightRow('password'); changeColor('pass','black'); clearInput('pass');" onblur="unhighlightRow('password')" onkeypress="filterKeyPress('login')" onclick="clearInput('pass')" /></td>
        </tr>
        <tr id="create">
            <td id="loginHolder"><a id="login" href="#" onclick="login($('email').value,$('pass').value);">Login</a></td>
            <td id="signupHolder"><a id="signup" href="#" onclick="getSignupForm();">Sign Up!</a></td>
        </tr>
    </table>
</form>
<div id="forgot"><a href="#" onclick="getForgotPassForm();">I forgot my password!</a></div>
