<form id="signup" title="Beacon Signup Form" method="post" action="php/account/signup.php">
    <table id="signupform">
        <tr id="firstname">
            <td><label>First Name </label></td>
            <td><input type="text" name="firstname" id="firstname" onfocus="highlightRow('firstname');" onblur="unhighlightRow('firstname');" /></td>
        </tr>
        <tr id="lastname">
            <td><label>Last Name </label></td>
            <td><input type="text" name="lastname" id="lastname" onfocus="highlightRow('lastname');" onblur="unhighlightRow('lastname');" /></td>
        </tr>
        <tr id="username">
            <td><label>E-Mail </label></td>
            <td><input type="text" name="login" id="login" onfocus="highlightRow('username');" onblur="unhighlightRow('username');" onkeypress="filterKeyPress('signup')" /></td>
        </tr>
    </table>
<table id="signupbuttons">
    <tr id="submit">
        <td><input type="reset" value="Reset" /></td>
        <td><input type="submit" value="Submit" /></td>
        <td><input type="button" value="Cancel" onclick="cancelSignup();" /></td>
    </tr>
</table>
</form>