div.admin_panel_content {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 80%;
}

label.title {
	text-decoration: none;
	font-weight: bold;
	font-size: large;
	margin: 0.2em;
	color: khaki;
}

input.submt {
	text-align: center;
	margin-top: 2%;
	margin-left: 50%;
}
