body {
	background-color: lightblue;
	color: black;
}

div#failed_login_button {
	width: 4.5em;
	height: 1.2em;
	background-color: khaki;
	color: black;
	border: 1px solid black;
	margin: auto;
	padding: 2px;
	text-align: center;
	font-weight: bold;
}

div#failed_login {
	text-align: center;
	color: black;
}

a:link {
	text-decoration: none;
	color: lightblue;
}

a:hover {
	color: black;
}
