div.editcontent {
        background-color: #0d5686;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid black;
        width: 50%;
        padding: 1em;
        display: block;
        margin-bottom: 0.3em;
	color: white;
}

form.guest {
	margin-left: auto;
        margin-right: auto;
        text-align: left;
}

input {
	border: 1px solid black;
}

input#cancel {
	text-align: center;
}

input#submit {
	text-align: center;
}
