div#login_errors {
	text-align: center;
	background-color: white;
	color: black;
	width: 24em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	display: block;
	border: 2px solid black;
	padding: 0.5em;
}

p#login_title {
	font-size: xx-large;
	font-weight: 900;
        color: #0d5686;
	text-align: center;
	margin-top: 1em;
}

form#login {
	background: white;
        border: 5px solid #0d5686;
	padding: 0.5em;
	margin-left: 3.0em;
        margin-right: 3.0em;
        margin-top: 2em;
        padding-left: 2em;
        padding-top: 2.5em;
}

label#user {
	text-align: left;
	margin-right: auto; 
	margin-left: auto; 
	/* color: #0d5686; */
        font-size: large;
        font-weight: 900; 
	margin-bottom: 0.2em;
}

label#pass {
	text-align: left;
	margin-right: auto; 
	margin-left: auto; 
	/* color: #0d5686; */
        font-size: large;
        font-weight: 900; 
	margin-bottom: 0.2em;
}

input#user {
	text-align: left;
	margin-right: auto; 
        margin-left: auto;
	margin-bottom: 0.2em;
}

input#pass {
	text-align: left;
	margin-bottom: 0.2em;
        margin-left: 0.4em;
}

input#login_button {
	text-align: center;
	margin-left: 15em;
	margin-right: auto;
}

div#login_links {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* color: #0d5686; */
}

a#login {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
        color: #0d5686;
}

a#forgot_pass {
	text-align: center;
	padding: 0em;
        margin: 0em;
	text-decoration: none;
        font-weight: bold;
        font-size: large;
	color: #0d5686;
}

a#signup {
	text-align: center;
	padding: 0em;
        margin: 0em;
	text-decoration: none;
        font-size: large;
        font-weight: bold;
	color: #0d5686;
}
