body {
	background-color: beige;
        font-family: helvetica;
}

div#form_holder {
	background-image: url("/img/lakeland_clock.jpg");
        background-repeat: no-repeat;
        background-position: top middle;
        /* background-color: beige; */
        border: 2px solid #0d5686;
        width: 26em;
        height: 26.5em;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5em;
}

p#footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* color: black; */
	font-size: x-small;
	font-weight: bold;
	color: lightblue;
}

input {
	border: 1px solid black;
}
