p#signup_title {
        font-size: large;
        font-weight: 900;
        /* color: #0d5686; */
        text-align: center;
        margin-top: 0.2em;
}

form#signup {
        background: white;
        border: 5px solid #0d5686;
        padding: 0.5em;
        margin-left: 3.0em;
        margin-right: 3.0em;
        margin-top: 2em;
        padding-left: 2em;
        padding-top: 2.5em;
}

label#email {
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        /* color: #0d5686; */
        font-size: large;
        font-weight: 900;
        margin-bottom: 0.2em;
}

label#secret {
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        /* color: #0d5686; */
        font-size: large;
        font-weight: 900;
        margin-bottom: 0.2em;
}

label#isadmin {
	text-align: left;
	margin-right: auto;
	margin-left: 11em;
	margin-top: 1em;
	margin-bottom: 0.2em;
}

input#email {
        text-align: left;
        margin-right: auto;
        margin-bottom: 0.2em;
}

input#secret {
        text-align: left;
        margin-left: 0.4em;
        margin-bottom: 0.2em;
}

input#signup_button {
        text-align: center;
        margin-right: 5em;
        margin-left: auto;
}

input#cancel_button {
        text-align: center;
        margin-left: 5em;
        margin-right: auto;
}

input#isadmin {
	text-align: center;
	margin-left: 0em;
	margin-right: auto;
}

div#after_signup_links {
	background: white;
	text-align: center;
        border-left: 5px solid #0d5686;
        border-right: 5px solid #0d5686;
        border-bottom: 5px solid #0d5686;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        margin-left: 3.0em;
        margin-right: 3.0em;
	margin-top: 0em;
}

div#successmsg {
	background: white;
	text-align: left;
        border-left: 5px solid #0d5686;
        border-right: 5px solid #0d5686;
        border-top: 5px solid #0d5686;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        margin-left: 3.0em;
        margin-right: 3.0em;
        margin-top: 1em;
	margin-bottom: 0em;
}

div#failuremsg {
	background: white;
	text-align: left;
        border-left: 5px solid #0d5686;
        border-right: 5px solid #0d5686;
        border-top: 5px solid #0d5686;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        margin-left: 3.0em;
        margin-right: 3.0em;
        margin-top: 1em;
	margin-bottom: 0em;
}
