body {
	background: khaki;
	text-align: center;
	margin: 0em;
	padding: 0em;
}

div#menu {
	display: block;
	background: #0d5686; 
	text-align: right;
	padding-right: 1em;
	padding-top: 1em;
	border-bottom: 1px solid black;
	height: 2.2em;
}

p#footer {
	color: #0d5686;
}

p#login_title {
	font-size: x-large;
	font-weight: bold;
	font-family: helvetica,sans,sans-serif,times;
}

a#user_logout {
	text-decoration: none;
	color: white;
	border: 2px solid white;
	padding: 0.2em;
	float: right;
	margin-left: 1%;
	margin-bottom: 2%;
}

a#acct_mgmt {
	text-decoration: none;
	color: white;
	border: 2px solid white;
	padding: 0.2em;
	float: left;
	margin-left: 1%;
	margin-bottom: 2%;
}

a#gwam_panel {
        text-decoration: none;
        color: white;
        border: 2px solid white;
        padding: 0.2em;
        float: left;
        margin-left: 1%;
        margin-bottom: 2%;
}

a:hover#gwam_panel {
	background-color: grey;
	background: grey;
}

a:hover#user_logout {
	color: red;
	border: 2px solid grey;
}

a:hover#acct_mgmt {
	background-color: grey;
	background: grey;
}

div.content_menu {
	background: transparent; 
	margin-right: auto;
	margin-left: 23.7%;
	width: 8%;
	display: block;
	margin-bottom: 0.8em;
}

a#wizard {
	padding: 0.4em;
	border: 1px solid black;
	color: white;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	background: #0d5686;
}

a:hover#wizard {
	border: 1px solid grey;
	color: grey;
}

div.content {
	background-color: grey;
	background: grey;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	width: 50%;
	padding: 1em;
	display: block;
	margin-bottom: 0.3em;
}

ul.item {
	float: left;
	padding: 0%;
}	

li.item {
	display: inline;
}

li a {
	display: block
	float: left;
	padding: 3px;
	margin: 0 5px 0 0;
}

p.content {
	text-align: left;
	margin: 1.5% 1% 0 25%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	vertical-align: middle;
}

a.delete {
	text-decoration: none;
	background-color: red;
	color: black;
	border: 2px solid white;
	padding: 0.2em;
}

a:hover.delete {
	color: white;
}

a.edit {
	text-decoration: none;
	background-color: #0d5686;
	color: white;
	border: 2px solid white;
	padding: 0.2em;
}

a:hover.edit {
	color: grey;
}

p.acct_mgmt_title {
        font-size: large;
        font-weight: bold;
}

form label {
        width: 40%;
        float: left;
        text-align: left;
        display: block;
        margin-right: 0%;
        margin-left: 2%;
        color: white;
}

.submit input {
        margin-left: 10%;
}

fieldset {
        background-color: #0d5686;
        border: 1px solid black;
}

legend {
        border: 1px solid black;
        padding: 0.4em;
        color: white;
        background-color: #0d5686;
}

div.settings_content {
        background-color: transparent;
        margin-right: auto;
        margin-left: auto;
        width: 35%;
        margin-bottom: 0.3em;
}
