form#guestAcct {
	margin-left: 20%;
	margin-right: auto;
	text-align: center;
}

p#gAInfo {
}

p#gATitle {
}

label#gAVal {
	font-size: large;
}

p#gPInfo {
}

p#gPTitle {
}

label#gPVal {
	font-size: large;
}

input#wizDoneButton {
	margin-top: 4%;
	margin-left: 40%;
}

div#wizardHolder {
        position: absolute;
        opacity: 0.94;
        background-color: #fff;
        width: 100%;
        height: 100%;
}

div#wizardHolder div#wizbg {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        opacity: 1;
}

div#wizardHolder fieldset {
        color: black;
        opacity: 1;
        margin-top: 10%;
        background-color: #0d5686;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
}

div#wizardHolder form {
        opacity: 1;
        color: black;
        background-color: #0d5686;
}

div#wizardHolder legend {
        color: black;
        font-weight: bold;
        background-color: #0d5686;
}

div#wizardHolder label {
        color: black;
}

div#wizardHolder input {
        border: 1px solid black;
}

div#wizardHolder input#dvalid {
        margin-right: 25%;
        text-align: left;
} 

div#wizardHolder p#wizReqFlds {
        font-size: small;
        text-align: left;
}
