<p id="searchTitle">Search</p>
<fieldset id="newSearch">
    <legend>Search</legend>
    <form id="newSearch" title="New Search Form" method="post" action="">
        <table id="newSearchForm">
            <tr id="searchnamerow">
                <td><label>Search Name </label></td>
                <td><input type="text" name="searchname" id="searchname" /></td>
            </tr>
            <tr id="searchtyperow">
                <td><label>Search Type </label></td>
                <td><select name="searchtype" id="searchtype"><option id="simple" >simple</option><option id="bisect">bisect</option><option value="fast">fast</option></select></td>
            </tr>
            <tr id="submitrow">
                <td>
                    <input type="reset" value="Reset" />
                    <input type="submit" value="Create" onClick="createSearch($('searchname').value,$('searchtype').value);"/>
                    <input type="button" value="Cancel" onClick="cancelCreateSearch();" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
