body
{
    color: #0d5686; 
}

a
{
    color: #0d5686; 
    text-decoration: none;
}

a:hover
{
    cursor: pointer;
}

fieldset
{
    background-color: khaki;
    border: 1px solid black;
    height: 40%;
    min-height: 40%;
    min-width: 35%;
    padding: 2em;
    width: 35%;
}

legend
{
    border: 1px solid black;
    background-color: khaki;
    font-weight: bold;
    font-size: large;
    padding: 0.25em;
}

input
{
    border: 1px solid black;
    display: block;
}

input:hover
{
    border: 1px solid blue;
}

input[type=submit]
{
    margin-top: 1em;
}

label
{
    display: block;
}
