a.menu
{
    background-color: #ffffff;
    border: 1px solid #0d5686; ;
    font-weight: bold;
    padding: 0.5em; 
}

a.menu:hover
{
    background-color: #cccccc;
}

a#logout
{
    float: right;
    margin-top: -0.6em;
}

.cell
{
    border-left: 1px solid black;
    float: left;
    min-width: 19.1%;
    text-align: center;
    width: 19.1%;
}

.cell_phone
{
    min-width: 12%;
    width: 12%;
}

.cell_small
{
    min-width: 9.5%;
    width: 9.5%;
}

div#error
{
    color: red;
    font-weight: bold;
    margin-top: 1em;
}

fieldset#oncall_login
{
    margin-left: auto;
    margin-right: auto;
}

fieldset#oncall_menu
{
    background-color: khaki;
    border: 1px solid black;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 80%;
    min-width: 75%;
    padding: 2em;
    width: 75%;
}

fieldset#oncall_menu legend
{
    border: 1px solid black;
    background-color: khaki;
    font-weight: bold;
    font-size: large;
    padding: 0.25em;
}

.first
{
    border-left: none;
}

form#add_person
{
    margin-top: 1.5em;
}

form#send_reminder
{
    margin-top: 1.5em;
}

.last
{
    border-right: none;
}

#oncall_info
{
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    min-width: 40%;
    text-align: center;
    width: 40%;
}

#oncall_person
{
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

#process
{
    margin-top: 2em;
}

.row
{
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    color: black; 
    float: left;
    font-size: small;
    min-width: 100%;
    text-align: left;
    width: 100%;
}

.title_row
{
    font-weight: bold;
    text-align: center;
}

.last_row
{
    border-bottom: 1px solid black;
}
