<div class="repositoryProject">
    <table>
        <tr id="projidrow">
            <td><label>Project ID </label></td>
            <td><input type="text" name="projid" id="projid" readonly="readonly" /></td>
        </tr>
        <tr id="projnamerow">
            <td><label>Project Name </label></td>
            <td><input type="text" name="projname" id="projname" /></td>
        </tr>
        <tr id="projtyperow">
            <td><label>Project Type </label></td>
            <td>
                <select name="projtype" id="projtype" disabled="disabled">
                    <option value="archive">Archive</option>
                    <option value="repository">Repository</option>
                </select>
            </td>
            <input type="hidden" id="projtypeValue" name="projtypeValue"/>
        </tr>
        <tr id="projreporow" class="projerepo" style="display:none;">
            <tr class="projrepo" style="display:none;">
                <td><label>Repository Name</label></td>
                <td><input type="text" id="projreponame" name="projreponame" /></td>
            </tr>
            <tr class="projrepo" style="display:none;">
                <td><label>Repository Type</label></td>
                <td><input type="text" id="projrepotype" name="projrepotype" /></td>
            </tr>
            <tr class="projrepo" style="display:none;">
                <td><label>Repository URL</label></td>
                <td><input type="text" id="projrepourl" name="projrepourl" /></td>
            </tr>
        </tr>
    </table>
</div>