<div class="archiveProjectInfo">
    <table class="center">
        <tr id="projColTitles">
            <td class="heading">ID</td>
            <td class="heading">NAME</td>
            <td class="heading">TYPE</td>
        </tr>
        <tr id="projColInfo">
            <td id="projid" class="data"></td>
            <td id="projname" class="data"></td>
            <td id="projtype" class="data"></td>
        </tr>
    </table>
</div>
<span id="archiveList">Attached Archives</span>
<div class="archiveProjectFileInfo">
    <span id="fileUploadContainer">
        <form id="attachArchive" name="attachArchive" title="Attach Archive Form" 
              method="post" enctype="multipart/form-data"
              action="php/file/link.php" 
              onsubmit="modifyUploadTarget(); startAnimation('projFileUploadAnimation','Upload in progress...'); $('projFileStatus').style.display = 'none';">
            <input type="hidden" name="projidFile" id="projidFile" />
            <input type="hidden" name="projnameFile" id="projnameFile" />
            <input type="hidden" name="projtypeValueFile" id="projtypeValueFile" />
            <label for="projfile" id="projFileId">Add Archive</label>
            <input type="file" id="projfile" name="projfile" />
            <iframe id="projfileUpload" name="projfileUpload" 
                    onload="updateArchiveStatus($('projfileUpload').contentWindow.document.body.innerHTML);
                            stopAnimation('projFileUploadAnimation');
                            $('projArchiveList').update(getProjectFiles($('projidFile').value,$('projnameFile').value,''));">
            </iframe>
            <input id="projArchiveAdd" name="projArchiveAdd" type="submit" value="Attach"/>
        </form>
    </span>
    <span id="projFileUploadAnimation" style="display: none;"></span>
    <span id="projFileStatus" style="display: none;"></span>
    <span class="seperator"><br /></span>
    <span id="projFileCatalogAnimation" style="display: none;"></span>
    <table>
        <thead>
            <tr>
                <td class="archiveHeading">NAME</td>
                <td class="archiveHeading">REVISION</td>
                <td class="archiveHeading">OPERATIONS</td>
            </tr>
        </thead>
        <tbody id="projArchiveList">

        </tbody>
    </table>
    <span id="noArchivesMessage" style="display: none;"></span>
    <span class="seperator"><br /></span>
</div>