<p id="searchTitle">ACCOUNT MANAGEMENT</p>
<div id="confirmUpdateAccount" style="display:none">
</div>
<div id="modifyAccountFormDiv">
<form class="modify" id="modifyAccount" title="Modify Account Information" method="post" action="javascript: updateAccount();">
    <span class="row">
        <span class="label"><label for="login">Login</label></span>
        <span class="input"><input type="text" name="login" id="login" disabled /></span>
    </span>
    <span class="row">
        <span class="label"><label for="fname">First Name</label></span>
        <span class="input"><input type="text" name="fname" id="fname" onfocus="highlightRow('accountFName')" onblur="unhighlightRow('accountFName')" /></span>
    </span>
    <span class="row">
        <span class="label"><label for="lname">Last Name</label></span>
        <span class="input"><input type="text" name="lname" id="lname" onfocus="highlightRow('accountLName')" onblur="unhighlightRow('accountLName')" /></span>
    </span>
    <span class="row">
        <span class="label"><label for="pass">Password</label></span>
        <span class="input"><input type="password" name="pass" id="pass" onfocus="highlightRow('accountPass'); clearInput(this.id)" onblur="unhighlightRow('accountPass')" /></span>
    </span>
    <span class="row">
        <span class="label"><label for="passConfirm">Confirm</label></span>
        <span class="input"><input type="password" name="passConfirm" id="passConfirm" onfocus="highlightRow('accountPassConfirm'); clearInput(this.id)" onblur="unhighlightRow('accountPassConfirm')" /></span>
    </span>
    <span class="input submit"><input type="submit" value="Update" /></span>
</form>
</div>
