<form id="help" title="Beacon Account Help Form" method="post" action="php/account/reset.php">
    <table id="helpform">
        <tr id="username">
            <td><label>E-Mail </label></td>
            <td><input type="text" name="login" id="login" onfocus="highlightRow('username');" onblur="unhighlightRow('username');" /></td>
        </tr>
    </table>
<table id="helpbuttons">
    <tr id="submit">
        <td><input type="submit" value="Reset My Password" /></td>
        <td><input type="button" value="Cancel" onclick="cancelAccountReset();" /></td>
    </tr>
</table>
</form>