<!-- ########################################################
     # Author: Adam M. Dutko                                #
     # License: GPL (v3 or Later)                           #
     #                                                      #
     # Purpose:                                             #
     #                                                      #
     ########################################################

     ################
     ## HELPFUL TIPS
     ##
-->

<form action="javascript: filterDisplayResultsCall();" method="post" name="listNodeSet">
<table width="500" border="0" align="center" cellpadding="2" cellspacing="1" class="maincell">
    <tr>
        <td width="106">Starting Address:</td>
        <td><input name="start" type="text" class="box" id="start" size="15" /></td>
    </tr>
    <tr>
        <td width="106">Ending Address:</td>
        <td><input name="stop" type="text" class="box" id="stop" size="15" /></td>
    </tr>
    <tr>
        <td>Export results as:</td>
        <td>
            PDF<input name="pdf" type="checkbox" id="pdf" />
            XLS<input name="xls" type="checkbox" id="xls" />
        </td>
    </tr>
    <tr>
        <td />
        <td width="200">
            <input type="hidden" name="searching" value="yes" />
            <input name="send" type="submit" id="send" value="Submit"/>
            <input name="reset" type="reset" id="reset" value="Reset" />
        </td>
    </tr>
</table>
</form>