<!-- ########################################################
     # Author: Adam M. Dutko                                #
     # License: GPL (v3 or Later)                           #
     #                                                      #
     # Purpose:                                             #
     #                                                      #
     ########################################################

     ################
     ## HELPFUL TIPS
     ##
     ##
-->
<form action="javascript: displaySearchResults();" method="post" name="searchNode">
<table width="500" border="0" align="center" cellpadding="2" cellspacing="1" class="maincell">
    <tr>
        <td width="106">Type</td>
        <td width="381">
            <select name="type" id="type">
                <option>hostname</option>
                <option>ip</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Data</td>
        <td><input name="data" type="text" class="box" id="data" size="15" /></td>
    </tr>
    <tr>
        <td width="200">
            <input type="hidden" name="searching" value="yes" />
            <input name="send" type="submit" id="send" value="Submit"/>
            <input name="reset" type="reset" id="reset" value="Reset" />
        </td>
    </tr>
</table>
</form>