<form id="add_person" action="#" method="POST">
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname" />
    <label for="mname">Middle Name</label>
    <input type="text" name="mname" id="mname" />
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname" />
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" id="phone" />
    <label for="email">E-Mail Address</label>
    <input type="text" name="email" id="email" />
    <input type="submit" value="Add Person" />
</form>
