<fieldset id="newProject">
    <legend>Create Project</legend>
    <form name="newProjectForm" id="newProjectForm" title="New Project Form" method="post" enctype="multipart/form-data" action="javascript:addProject()">
        <table id="newProjectForm">
            <tr id="projnamerow">
                <td><label>Project Name </label></td>
                <td><input type="text" name="projname" id="projname" /></td>
            </tr>
            <tr id="projtyperow">
                <td><label>Project Type </label></td>
                <td><select name="projtype" id="projtype">>
                    <option selected="selected" value="archive">Archive</option>
                    <option value="repository">Repository</option>
                </td>

                <!-- FOR USE WITH FILE UPLOAD PIECE -->
                <!-- td><input type="file" accept="application/x-tar,application/zip,application/bzip2,application/octet-stream" name="projfile" id="projfile" /></td -->
            </tr>
            <tr id="submitrow">
                <td>
                    <input type="reset" value="Reset" />
                    <input type="submit" value="Submit" />
                    <input type="button" value="Cancel" onClick="cancelCreateProject();" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
