<fieldset id="newGraph">
    <legend>Create Graph</legend>
    <form id="newGraph" title="New Graph Form" method="post" action="">
        <table id="newGraphForm">
            <tr id="graphnamerow">
                <td><label>Graph Name </label></td>
                <td><input type="text" name="graphname" id="graphname" /></td>
            </tr>
            <tr id="graphtyperow">
                <td><label>Graph Type </label></td>
                <td><input type="radio" name="graphtype" id="graphsimple" value="simple" /></td>
                <td><input type="radio" name="graphtype" id="graphcomplex" value="complex" /></td>
            </tr>
            <tr id="submitrow">
                <td>
                    <input type="reset" value="Reset" />
                    <input type="submit" value="Create" onClick="createGraph($('graphname').value,$('graphtype').value);"/>
                    <input type="button" value="Cancel" onClick="cancelCreateGraph();" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
