/* Adam M. Dutko
   GPL (v3 or Later) */

body {
    display: block;
    color: black;
    background-color: gray;
}

a:link {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: black;
}

p {
    margin-left: auto;
    margin-right: auto;
    word-spacing: 1px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

p.big_title {
    background-color: transparent;
    font-size: 18px;
    text-decoration: underline;
}

p.landing_link {
    font-size: 12px;
    color: black;
}

div#nav {
    background-color: transparent;
    width: 50%;
    padding: 10px;
    border-left: 1px dotted black;
    border-bottom: 1px dotted black;
}

div#form {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
}

table.searchResultsTable {
    padding: 1px;
}

tr.searchResultsRowTitle {
    font-weight: bold;
    text-decoration: underline;
}

td.searchResultsCellTitle {
}

tr.searchResultsRowValue {
}

td.searchResultsCellValue {
    padding: 4px;
    color: brown;
}