p#accountTitle {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: -0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#modifyAccountFormDiv {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: left;
    padding-left: 3em;
}

#confirmUpdateAccount {
    text-align: center;
    color: white;
    padding: 0.5em;
    font-weight: bold;
}

.row {
    display: block;
    width: 80%;
    font-weight: bold;
    margin-bottom: 1em;
}

.label {
    margin-top: 0.5em;
    padding: 0.25em;
    border: 1px solid black;
    background-color: #D8D8BF;
}

.input {
    padding: 0.25em;
    margin-bottom: 0.5em;
    color: black;
    text-align: right;
}

.submit {
    border: none;
    display: block;
    text-align: right;
}

.submit input {
    border: 4px solid #D8D8BF;
    color: white;
    background-color: #A66200;
    width: 100%;
    padding: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 100%;
}