div#graphMgmt {
    background-color: #8B8682;
    margin-top: 1em;
    padding: 0.5em;
    font-style: normal;
}

form#newGraph {
    background-color: #8B8682;
}

p#graphTitle {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;  
    margin-bottom: -0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
