div#jobsMgmt {
    font-style: normal;
}

form#newJob {

}

p#jobsTitle {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    color: black;    
    margin-bottom: -0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
