.input {
	margin-top: 0.5px;
}

tr.highlight td{
	/* */
}

form#login {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    /* margin-bottom: -0.50em; */
    padding: 1.0em;
    width: 15em;
}

a#signup {
    text-decoration: none;
    color: #1c2c42;
}

a#login {
    text-decoration: none;
    color: #1c2c42;
}

a#signup:hover {
    color: #000000;
}

a#login:hover {
    color: #000000;
}

td#signupHolder {
    text-align: center;
    font-size: x-large;
    padding-top: 0.5em;
    width: 10%;
}

td#loginHolder{
    text-align: center;
    font-size: x-large;
    padding-top: 0.5em;
    width: 10%;
}

table#loginform {
    background-color: #A66200;
}

form#login {
    background-color: #A66200;
}

input{
    font-weight:normal;
    font-size:11px;
    border:1px solid #222;
}

div#forgot {
    text-align: center;
    color: #000;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-bottom: 1.0em;
    width: 15em;
    background-color: #A66200;
}

div#forgot a {
    color: #1c2c42;
    text-decoration: none;
    background: transparent;
}

a#help {
    text-decoration: none;
    color: #1c2c42;
}

a#help:hover {
    color: #000000;
}

form#help {
    border: 1px solid black;
    padding: 1.0em;
    width: 15em;
    background-color: #A66200;
}

table#helpform {
    background-color: #A66200;
}
