body {
    /* background-image: url("../images/beacon_morning_large_scaled.jpg"); */
    background-image: url("../images/02466_champdeneige_1600x1200.jpg");
    /* background-color: #001340; */
    background-repeat: repeat;
    background-color: wheat;
    font-family: Georgia,'Times New Roman',times,serif;
    color: black;
}

#title {
    font-size: 10em;
    font-style: normal;
    font-weight: bold;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
    display: block;
    text-align: center;
}

p#title {
    font-size: 30px;
}

div#byline {
    display: block;
    font-size: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    text-align: center;
    color: white;
}

p.byline {
    margin: 0;
    padding: 0;
}

#portal {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 16em;
    display: block;
}

p#javascriptWarning {
    color: white;
    font-size: small;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 2em;
}

#tabContent1 {
    background-color: darkkhaki;
}

#tabContent2 {
    background-color: darkkhaki;
}

#tabContent3 {
    background-color: darkkhaki;
}

#graphFormDiv {
    background-color: darkkhaki;
}

#graphMgmt {
    background-color: darkkhaki;
}

#tabContent4 {
    background-color: darkkhaki;
}

#tabContent5 {
    background-color: darkkhaki;
}

.seperator {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    height: 1px;
}

.message {
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.01em;
}