div#projectMgmt {
    margin-top: 1em;
    padding: 0.5em;
    font-style: normal;
    background-color: transparent;
    background: none;
}

div#projectMgmtStatus {
    display: block;
    color: white;
    font-weight: bold;
    padding: 0.25em;
}

div#projectsDiv {
    width: 80%;
    margin: auto;
    padding: 0.75em;
}

table#projects {
}

fieldset#projects {
    padding: 0;
    border: none;
}

fieldset#projects legend {
    display: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border: none;
}

.heading {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-align: center;
    color: #D8D8BF;
    font-weight: bold;
    font-size: large;
}

.projectsMenu {
    padding: 0.2em;
    color: white;
    width: 5%;
    text-align: left;
    /* background-color: #8B8682; */
    border-top: 2em groove #A66200; /* #D8D8BF; */
    border-left: 2em groove #A66200; /* #8B8682; */
}

.data {
    padding: 0.1em;
    background-color: white;
    width: 15%;
    text-align: center;
    font-size: small;
    font-weight: bolder;
    border: 4px solid #D8D8BF;
}

.projectEdit {
    text-decoration: underline;
}

p#projTitle {
    font-size: 2em;
    font-style: normal;
    font-weight: bold; 
    margin-bottom: -0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

iframe#projfileUpload {
    display: none;
}

#nofilesfound {
    margin-left: 0.5em;
    font-weight: bold;
    font-size: small;
}

#filelistLegend {
    margin-left: 0em;
    margin-bottom: 0.1em;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid black;
    padding: 0.2em;
}

#filelistRow {
    margin-top: 1em;
}

#projfile {
    padding: 0em;
    display: block;
    border: 0px solid black;
    margin-left: 3em;
    margin-bottom: 1em;
}

#projFileId {
    display: block;
    border: 0px solid black;
    font-weight: bold;
    font-size: large;
    margin-left: 1em;
}

.projectFileCount {
    text-align: right;
    text-indent: 0.2em;
    margin-right: 0em;
}

.projectFileView {
    width: 70%;
    text-align: left;
    padding: 0.05em;
    /* background-color: grey; */
}

.projectEdit, .projectView, .projectDelete {
    font-size: small;
    font-weight: bold;
    display: block;
    text-align: left;
    padding-left: 0.1em;
    padding-bottom: 0.25em;
}

#createProjectButton {
    border: 4px solid #D8D8BF;
    color: white;
    background-color: #A66200;
    width: 8%;
    padding: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 3%;
    margin-left: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    font-weight: bold;
}

.archiveProjectInfo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 80%;
    text-align: center;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.archiveProjectFileInfo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 80%;
}

#archiveList {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    width: 80%;
    min-width: 80%;
    font-size: large;
    font-weight: bold;
}

#projArchiveList {
    width: 80%;
}

#attachFileLabel {
    margin-right: 1em;
    font-weight: bold;
}

.projArchive {
}

.projArchiveName {
    font-weight: bold;
    font-size: large;
    text-align: left;
}

.projArchiveRev {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.archiveHeading {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    margin: auto;
}

.projArchiveFileOperations {
    font-size: small;
    font-weight: bold;
    padding: 0.5em;
}

.unlinkArchive,.catalogArchive{
    font-weight: bold;
    font-size: small;
}

#projArchiveAdd {
    margin-left: 1em;
}

#attachArchive {
    background-color: transparent;
    background: transparent;
}

#projFileStatus {
    color: black;
    font-weight: bold;
    padding: 0.5em;
    width: 40%;
    margin: 1em;
}

#noArchivesMessage {
    font-weight: bold;
    color: black;
    padding: 0.5em;
    width: 40%;
    margin: 1em;
}

#projFileUploadAnimation {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 30%;
    min-width: 30%;
    height: 2em;
    min-height: 2em;
    margin-top: 0.5em;
    margin-left: 0.7em;
    padding: 0.5em;
}

.deleteProjectBox {
    width: 8%;
    min-width: 8%;
    color: black;
}

.deleteProjectBox input {
    text-align: right;
    margin-left: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.deleteProjectHeading {
    width: 8%;
    min-width: 8%;
}

.deleteProjectBox input:hover {
    background-color: #A66200;
    border: 1px solid white;
    color: white;
}

#projFileCatalogAnimation {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 50%;
    min-width: 50%;
    height: 2em;
    min-height: 2em;
    margin-top: 0.5em;
    margin-left: -0.1em;
    padding: 0.5em;
}