div#searchMgmt {
    font-style: normal;
}

form#newSearch {
    
}

fieldset#newSearch {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

p#searchTitle {
    font-size: 2em;
    font-style: normal;
    font-weight: bold; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
