input {
    margin-top: 3px;
}

form#signup {
    border: 1px solid black;
    padding: 1.0em;
    width: 15em;
    background-color: #A66200;
}

.signupresults {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    width: 60%;
    text-align: center;
    background-color: #D8D8BF;
}

#signuptitle {
    font-size: x-large;
    font-weight: bold;
    background-color: #A66200;

}

table#signupbuttons {
    background: transparent;
    margin-bottom: 1em;
    width: 15em;
    padding: 0.40em;
    background-color: #A66200;
}

a.redo:hover {
    font-weight: bold;
}