/* Code adapted from: http://wiki.github.com/madrobby/scriptaculous/tabs */

#tabs{
    padding: 0;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
    margin-left: 5em;
    /* margin-top: 0.5em; */
    display: none;
}

#tabs ul{
    font-weight: bold;
    font-size: 11px;
    margin:0;
    padding:0;
    list-style:none;
}

#tabs li{
    display:inline;
    margin:0 2px 0 0;
    padding:0;
    text-transform:uppercase;
}

#tabs a{
    float:left;
    background-color: #A66200;
    border: 1px solid white;
    margin:0 2px 0px 2px;
    padding:0 0 1px 3px;
    text-decoration:none;
}

#tabs a span{
    float:left;
    display:block;
    padding:4px 9px 2px 6px;
    margin-left: 5em;
}

#tabs a span{float:none; color: black;}
#tabs a:hover{background-color: #D8D8BF; }
#tabs a:hover span{background-color: #D8D8BF;}
#tabHeaderActive span { background-color: #D8D8BF; } /* #42577B */
#tabHeaderActive a { background-color: #D8D8BF; }

.tabContent {
    clear:both;
    /* border:1px solid #8B8682; */
    /* padding-top:2px; */
    background-color: #8B8682; /* #7E94B9 */
    width: 95%;
    border: 1px solid white;
}
