<form id="edit_person" action="javascript: validate_edit_person();" method="POST">
    <input type="hidden" id="id" name="id" />
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname" />
    <label for="mname">Middle Name</label>
    <input type="text" name="mname" id="mname" />
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname" />
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" id="phone" />
    <label for="email">E-Mail Address</label>
    <input type="text" name="email" id="email" />
    <label for="send_sms">Send SMS?</label>
    <input type="checkbox" name="send_sms" id="send_sms" />
    <label for="send_email">Send E-Mail?</label>
    <input type="checkbox" name="send_email" id="send_email" />
    <input type="submit" value="Submit" style="display: inline;" />
    <input type="submit" value="Cancel" onclick="javascript: show_edit_person();" style="display: inline;" />
</form>
<div id="error" style="display: none;">
</div>
