<form id="send_reminder" action="javascript: validate_send_reminders();" method="POST">
    <label for="sms">SMS</label>
    <input type="checkbox" name="sms" id="sms" />
    <label for="sms">E-Mail</label>
    <input type="checkbox" name="email" id="email" />
    <input type="submit" value="Send Reminders" />
</form>
<div id="error" style="color: #0d5686; font-weight: normal;">
* - Remember, if a person isn't setup for SMS and you send an SMS they won't get it. The same holds true for E-Mail.
</div>

